{% extends "base.html" %}
{% block headext %}
        <script type="text/javascript" class="init">
            $(document).ready(function() {
                $('#beertable').DataTable( {
                    "ordering": true,
                    "order": [[ 0, "asc" ]]
                });
            } );
        </script>
{% endblock %}
{% block content %}
    <h2>Beers</h2>
    <ul>
        <table class="display" id="beertable" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Beer</th>
                    <th>Brewer</th>
                    <th>Style</th>
                    <th>IBU</th>
                    <th>ABV</th>
                    <th>Country</th>
                    <th>Overall Rating</th>
                    <th>Style Rating</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Rank</th>
                    <th>Beer</th>
                    <th>Brewer</th>
                    <th>Style</th>
                    <th>IBU</th>
                    <th>ABV</th>
                    <th>Country</th>
                    <th>Overall Rating</th>
                    <th>Style Rating</th>
                </tr>
            </tfoot>
            <tbody>
                {% for beer in object_list %}
                    <tr>
                        <td>{{ beer.rank }}</td>
                        <td>{{ beer.name }}</td>
                        <td>{{ beer.brewery }}</td>
                        <td>{{ beer.style }}</td>
                        <td>{{ beer.IBU }}</td>
                        <td>{{ beer.ABV }}</td>
                        <td>{{ beer.country }}</td>
                        <td>{{ beer.overallRating }}</td>
                        <td>{{ beer.styleRating }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </ul>
{% endblock %}