{% extends "base.html" %}
{% load floppyforms %}
{% block body %}
    <h1>Beer Preferences</h1>
    <p>Please choose your preferences by adjusting each slider towards the description that you like most. Each selection should be considered independently from the others.
<br>
It is ok to move the slider just a bit to one side. if don't have any preference for a choice, just leave it in the middle.</p>
    <div class="container-fluid">
            <form action="beeer_list" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="row">
                        <div class="col-md-3">
                            <br><br>
                            {{ field.label_tag }}
                        </div>
                        <div class="col-md-6">
                            <div class="fieldWrapper">
                                {{ field.errors }}
                                {{ field }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="id_q1">{{ field.field.rlabel }}:</label>
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-primary btn-lg"/>
            </form>
    </div>
{% endblock %}
